<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>대시보드 샘플 연습합니다.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
  	<style type="text/css">
    	body, html {
      	font-family: sans-serif;
    	}
  	</style>

	<!-- Load jquery for ajax support -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script src="/lib/vis/vis.js"></script>
	<link href="/lib/vis/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
  
</head>
<body>
	
	<div id="visualization"></div>
	<div id="loading">loading...</div>
	
</body>
<script src="/js/dashboard.js"></script>
</html>