<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>대시보드 샘플 연습합니다.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
  	<style type="text/css">
  		
  		@charset "UTF-8";
    	
    	body, html {
      	font-family: sans-serif;
    	}
    	
    	.visualization {
    	padding: 10px 10px 10px 10px;
    	height: auto;
    	}
    	
    	.visualization.cell {
    	display: table-cell;
    	}
    	
    	.vis-item .vis-item-content {
		 overflow: visible;
		}
  	</style>

	<!-- Load jquery for ajax support -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script src="/lib/vis/vis.min.js"></script>
	<link href="/lib/vis/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
  
  	<!-- include libraries -->
	<script src="/lib/tui/tui-code-snippet/tui-code-snippet.min.js"></script>
	<script src="/lib/tui/raphael/raphael.min.js"></script>
  
  	<script src="/lib/tui/tui.chart/tui-chart.min.js"></script>
  	<link href="/lib/tui/tui.chart/tui-chart.min.css" rel="stylesheet" type="text/css" />
  	
</head>
<body>
	<div id="loading">
		<h2>아래는 대시보드 샘플 연습해보는 것 입니다.</h2>
		<p style="max-width: 700px;">
		  룰루루~~
		</p>
		<p>
			<input type="button" id="start" value="START"/>
			<input type="button" id="stop" value="STOP"/>
			<input type="button" id="zoomIn" value="ZOOM IN"/>
			<input type="button" id="zoomOut" value="ZOOM OUT"/>
		</p>
	</div>
	<div>
		<div style="display: inline-table; width: 100%;">
			<div class="visualization" id="visualization_streaming" style="display: table-cell;"></div>
			<div class="visualization" id="visualization_timeline" style="display: table-cell;"></div>
		</div>
	</div>
	<div>
		<div style="display: inline-table; width: 100%;">
			<div style="display: table-row;">
				<div class="visualization cell" id="visualization_pie1"></div>
				<div class="visualization cell" id="visualization_pie2"></div>
				<div class="visualization cell" id="visualization_pie3"></div>
				<div class="visualization cell" id="visualization_pie4"></div>
			</div>
			<div style="display: table-row;">
				<div class="visualization cell" id="visualization_pie5"></div>
				<div class="visualization cell" id="visualization_pie6"></div>
				<div class="visualization cell" id="visualization_pie7"></div>
			</div>
		</div>
	</div>
</body>
<script src="/js/dashboard.js"></script>
</html>